<h3>Add Word:</h3>
<form action="/add_word" method="post">
  <div class="form-group">
    <label for="word">New Word</label>
    <input name="word" class="form-control" type="text" >

    <label for="definition">First definition</label>
    <input name="definition" class="form-control" type="text" >
    <label for="definition2">Second definition(optional)</label>
    <input name="definition2" class="form-control" type="text" >
    <label for="definition3">Third Definition(optional)</label>
    <input name="definition3" class="form-control" type="text" >
  </div>
  <button type="submit">Add!</button>
</form>



<a href="/welcome">Return to home page</a>
