<h1>My words!</h1>


<% if @words.any? %>
<ul>
  <% @words.each do |w| %>
  <li> <a href="definitions/:<%= w.word %>"><%= w.word %></a> </li>
  <form action="/delete/<%= w.word %>" method="post">
     <input type="hidden" name="_method" value="DELETE">
     <input type="submit" value="Delete Word?">
   </form>
  <% end %>
  <br>


  <p><a href="/add_word">Add a new word</a><br></p>
  <% end %>
